@font-face {
    font-family: 'MTSWide';
    src: url('../fonts/MTSWide-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MTSWide';
    src: url('../fonts/MTSWide-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'MTSWide', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    overflow-x: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
    input, select, textarea {
        font-size: 16px;
    }
}
